<div class="info">
  <div class="info--box">
    <img class="info--img" src="../../../../assets/images/calendar.svg" />
    <span class="info--number">12</span>
    <span class="mt-4 info--text">{{ "HOME.YEARS_EXPERIENCE" | translate}}</span>
  </div>
  <div class="info--box">
    <img class="info--img" src="../../../../assets/images/smile.svg" />
    <span class="info--number">178</span>
    <span class="mt-4 info--text">{{ "HOME.HAPPY_CLIENTS" | translate}}</span>
  </div>
  <div class="info--box">
    <img class="info--img" src="../../../../assets/images/like.svg" />
    <span class="info--number">567</span>
    <span class="mt-4 info--text">{{ "HOME.PEOPLE_LIKES" | translate }}</span>
  </div>
</div>
