@import 'styles';

.product-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  padding: 20px 0;

  &__item {
    display: flex;
    align-self: center;
    align-items: center;
    margin: 10px 0;

    @media only screen and (max-width: $bp-extra-small) {
      flex-direction: column;
      align-items: flex-start;
    }

    label {
      width: 120px;

      @media only screen and (max-width: $bp-extra-small) {
        margin-bottom: 10px;
      }
    }
  }
}

.wrapper {
  width: 500px;
  background-color: $color-grey-light-1;
  border-radius: 10px;
  padding: 30px;
  display: flex;

  @media only screen and (max-width: $bp-extra-small) {
    width: 100%;
  }
}

.p-inputtext {
  width: 250px;
  padding: 5px 10px;
}

:host {
  ::ng-deep   .p-button.p-button-secondary {
    width: 250px;
    margin-left: 120px;
    margin-top: 30px;

    @media only screen and (max-width: $bp-extra-small) {
      margin-left: 0px;
    }
  }
}


::ng-deep .p-calendar,
::ng-deep .p-dropdown {
  width: 250px;
}
