@import 'styles';

.wrapper {
  width: 100%;
  background-color: $color-grey-light-1;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;

  .product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.btn-create {
  padding: 10px 30px;
  border-radius: 8px;
  background-color: $white !important;
  margin-bottom: 20px;
  margin-left: auto;
}
